.cambia {
    width: auto;
    height: auto;
    margin: 4em;
}

.example-viewport {
    margin-bottom: 5px;
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}

.example-item {
    height: 20px;
}

.input-symbol-euro {
    position: relative;
}

.input-symbol-euro input {
    padding-right: 18px;
}

.input-symbol-euro:before {
    position: absolute;
    top: 0;
    content: "$";
    left: 5px;
}